.app-container {
  position: relative;
  height: 100%;
  width: 100%;
}

mat-sidenav-container,
mat-sidenav,
mat-sidenav-content {
  height: 100%;
}

mat-sidenav {
  width: 30%;
}

.spinner-container {
  & mat-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }
}

.nav-link-name {
  margin-left: 10px;
}

#menu-btn {
  background: none;
  border: none;
}

#menu-btn i {
  font-size: 20px;
  color: white;
  cursor: pointer;
}

#logo {
  margin-left: 10px;
}

#links-container {
  li {
    list-style: none;
  }
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(238, 237, 237);
}

@media (max-width: 599px) {
  a:hover {
    color: rgb(65, 65, 65);
  }
}
